/*common start*/
body{
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
}
/*common end*/
/*header start*/
header{
	padding: 35px 0;
 /*	border: 1px solid red;*/
}
.container{
   	margin: 0 auto;
   	width: 90%;
/*	border: 1px solid;*/
    overflow: hidden;
}
.logo{
	margin-top: 4px;
   	width: 13%;
   	float: left;
}
.logo a{
	display: block;
}
.logo a img{
	width: 100%;
}
.menu{
	width: 60%;
/*	border: 1px solid red;*/
	float: right;
}
.menu ul{
	margin: 0;
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	margin: 0 50px;
	padding: 5px 2px;
	display: inline-block;
	color: #626262;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: .33s;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
}
.menu ul li:last-child a {
    margin-right: 0; 
}
/*header end*/
/*banner start*/
.banner{}
.b_img{}
.b_img img{
	width: 100%;
}
/*banner end*/
/*message start*/
.message{
	padding: 100px 0 40px;
}
.container2{
	margin: 0 auto;
	width: 80%;
/*  border: 1px solid;*/
    overflow: hidden;
}
.light{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #b4ad9e;
	text-transform: uppercase;
}
.title{
	margin: 15px 0 25px;
	font-size: 30px;
	font-weight: 400;
}
.text{
	margin: 0;
	line-height: 24px;
}
.mt_40{
	margin-top: 40px;
}

/*message end*/
/*blog start*/
.blog{
	padding: 0 0 100px;
}
.s_blog{
	margin-top: 60px;
	width: 47%;
/*	border: 1px solid red;*/
	float: left;
}
.s_blog:nth-child(even) {
	margin-left: 6%;
}
.s_img{
	margin-bottom: 20px; 
}
.s_img img{
	width: 100%;
}
/*blog end*/
/*news start*/
.news{
	min-height: 400px;
	background-color: #f0f0f0;
}
/*news end*/
/*blog2 start*/
.blog2{
	padding-top: 40px;
 }
 .load{
 	margin: 100px 0;
 	text-align: center;
 }
 .load button{
 	width: 165px;
 	height: 60px;
 	background: transparent;
 	border: 1px solid #626262;
 	font-family: 'Playfair Display', serif;
 	font-size: 20px;
 	font-weight: 400;
 	color: #626262;
 	cursor: pointer;
 	transition: .33s;
 }
 .load button:hover {
 	background-color: #626262;
 	color: white;

 }
  /*footer start*/
.container{
	max-width: 1170px;
	margin: auto;
}
  	
.page{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #808080;
	padding: 70px 0;
	

}
.footer-col{
	width: 25%;
	padding: 0 15px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;

}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.media ul li:first-child {
    font-size: 14px;
    color: #000000;
}

.media ul li a{
	display: inline-block;
	float: left;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #000000;
	transition: all 0.5s ease;
	

}
.footer-col .media a:hover{
	color: #626262;
	background-color: #000000;
}
 
  
  /*footer end*/
